<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="brand"
      src="../assets/img/logo.svg"
      alt="logo-OktuPOS"
      height="80"
    /> <span class="brandlogo">OktuPOS</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mx-sm-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" routerLinkActive="active">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/private" routerLinkActive="active">private</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/signin" routerLinkActive="active">Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cuenta</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
