<div class="container">
  <div class="center">
    <div class="card border-danger mb-3 mt-4" style="max-width: 20rem">
      <div class="card-header center">
        <img
          class="brand"
          src="../assets/img/logo.svg"
          alt="logo-OktuPOS"
          height="60"
        />
        <a routerLink="/signin" routerLinkActive="active" class="nav-link"
          ><h5>Login</h5></a
        >
        <a
          routerLink="/signup"
          routerLinkActive="active"
          class="nav-link active"
          ><h5>register</h5></a
        >
      </div>
      <div class="card-body">
        <h6 class="card-title">Ingrese Usuario y contraseña</h6>
        <div class="card-text">
          <form [formGroup]="signUpForm" (ngSubmit)="onSaveForm()">
            <fieldset>
              <div class="form-group">
                <label for="InputEmail" class="form-label mt-4"
                  >correo electrónico</label
                >
                <div
                    class="alerta alert-danger mb-1"
                    *ngIf="username?.errors?.['required']"
                  >
                    Este campo es requerido !!!
                  </div>

                <div
                    class="alerta alert-danger mb-1"
                    *ngIf="username?.errors?.['pattern']"
                  >
                    Este campo debe ser un correo valido !!!
                </div>

                <input
                  type="email"
                  required
                  class="form-control"
                  id="InputEmail"
                  aria-describedby="emailHelp"
                  placeholder="Ingrese su correo"
                  formControlName="username"
                  autofocus
                />
                <small id="emailHelp" class="form-text text-muted"
                  >No comparta esta informacion con terceros.</small
                >
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="form-label mt-4"
                  >Password</label
                >
                <input
                  type="password"
                  required
                  class="form-control"
                  id="InputPassword"
                  formControlName="password"
                  placeholder="Password"
                />
              </div>

              <div class="alerta alert-danger mt-1"
              *ngIf="password?.errors?.['required']">
                Este campo es requerido !!!
              </div>
              <div class="alerta alert-danger mt-1"
              *ngIf="password?.errors?.['minLength']">
                Este campo debe tener mas de 5 caracteres
              </div>


          <div
            class="alerta alert-success mt-1"
            *ngIf="response && username?.valid && password?.valid"
          >
            <strong>El usuario se registro con exito!</strong>
          </div>
            </fieldset>
            <div
                class="alerta alert-danger mt-1"
                *ngIf="errores && !response"
              >
                {{errores}}
              </div>
            <div class="d-grid gap-2 mt-4">
              <button class="btn btn-lg btn-primary" type="submit" [disabled]="!signUpForm.valid">
                Registrarse
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
