<div id="imprime">
  <div class="salto_pagina_anterior content">
    <div><h4>ReMicos S.A.S</h4></div>
    <div>NIT: 901.517.860-6</div>
    <div>Carrera 11 No. 14 - 55 Local 217</div>
    <div>Centro Comercial Plaza Barcelona</div>
    <div>Sogamoso - Boyacá</div>
    <div>Carrera 11 No. 14 - 55 Local 217</div>
    <div>Fecha: 04/01/2022</div>
    <div>Documento equivalente POS No. FP001-000012</div>
    <div>Resolución DIAN No. 18752912435748</div>
    <div class="row mt-4">
      <div class="col-2">Cant.</div>
      <div class="col-6">Descripción</div>
      <div class="col-4">Valor</div>
    </div>
    <hr>
    <div class="row mt-2">
      <div class="col-2">1</div>
      <div class="col-6">Servicio Recr. Infantíl</div>
      <div class="col-4 der">$4000</div>
    </div>
    <br>
    <hr>
    <div class="row mt-2">
      <div class="col-4"></div>
      <div class="col-4 der">Precio Base:</div>
      <div class="col-4 der">$3.240</div>
    </div>

    <div class="row mt-2">
      <div class="col-4"></div>
      <div class="col-4 der">IVA 19%:</div>
      <div class="col-4 der">$760</div>
    </div>

    <div class="row mt-2">
      <div class="col-4"></div>
      <div class="col-4 der">Total:</div>
      <div class="col-4 der">$4.000</div>
    </div>




    <div class="img-content">
      <img src="../../../assets/img/logo.svg" width="50" height="50"/>
      <span>OktuPOS</span>
    </div>

  </div>
</div>

<button (click)="print()">Print</button>

